$bg-white: #ffffff;
$bg-gray: hsl(0deg 0% 23.92%);
$bg-dark: #0b0a0a;
$bg-yellow: #f5a623;

$text-dark: #000;
$text-gray: #7E7E7E;
$text-light: #FFFFFF40;

$border: #e5e7eb;

$sidebar-width: 60px;
$header-height: 56px;

$radius: 8px;
$radius-lg: 12px;

$mobile: 768px;
$tablet: 1024px;